<!-- ./views/index.handlebars -->
<!-- search bar -->
<div class="d-flex justify-content-between">
  <a href="/restaurants/new" class="d-inline-block"
    style="text-decoration:none; color:gray; width:100px;font-size:20px; text-align: center; padding:5px 0px">新增餐廳</a>
  <div class="container search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="dropdown" style="margin-right:10px">
    <button class="btn btn-major ml-1 dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
      aria-expanded="false" style="width:100px"> 排列
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item" href="/restaurants/sort/nameAsc">名稱從A到Z</a></li>
      <li><a class="dropdown-item" href="/restaurants/sort/nameDesc">名稱從Z到A</a></li>
      <li><a class="dropdown-item" href="/restaurants/sort/category">餐廳分類</a></li>
      <li><a class="dropdown-item" href="/restaurants/sort/location">餐廳位置</a></li>
      <li><a class="dropdown-item" href="/restaurants/sort/rating">餐廳分數</a></li>
    </ul>
  </div>
</div>




<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        <div class="d-flex-column mb-3">
          <div class="card mb-1">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>
              <div class="d-inline-flex justify-content-end mt-2 " style="width:100%">
                <div class="category p-2 bg-success text-white border border-dark rounded" style="font-size:10px;">
                  {{this.category}}
                </div>
                <div class="rating p-2 bg-warning text-dark border border-dark rounded"
                  style="font-size:10px; margin-left:5px">
                  {{this.rating}}
                </div>
              </div>
            </div>
          </div>
          <div class="button-zone d-flex justify-content-end align-items-start" style="height:20px">
            <a href="/restaurants/{{this._id}}" style="text-decoration:none;font-size:10px; padding: 0 1px;"
              class=" border border-dark rounded">詳細內容</a>
            <a href="/restaurants/{{this._id}}/edit"
              style="margin-left:3px; text-decoration:none;font-size:10px; padding: 0 1px;"
              class="border border-dark rounded">編輯</a>
            <form action="/restaurants/{{this._id}}/?_method=DELETE" method="POST"
              style="height:20px; margin-left:3px;" class="d-inline-flex">
              <button type="submit" class="border border-dark rounded"
                style=" text-decoration:none;font-size:10px; padding: 0 1px;">刪除</button>
            </form>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
  </div>
</div>